[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "cupper-hugo-theme"]
	path = cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme
